@import "../common/stylus/mixin.styl"
.mint-searchbar
  background-color: #ffffff
.mint-searchbar-inner
  background-color: #EFF0F4
  border-radius: 0.7rem
.mint-searchbar-core
  background-color: #EFF0F4
.mint-searchbar-inner .mintui-search
  font-size: 20px
.mint-search
  height:3.3rem
  background:#ffffff
.mint-searchbar-core
  font-size:0.8rem
._v-container
  height:4rem
._v-container[data-v-ecaca2b0]
  //position:relative !important
.order-one
  background: #4A78E8
  color: #ffffff
  width: 48%
.order-two
  background: #ffffff
  border:1px solid #4A78E8
  color: #4A78E8
  width: 48%
.butt
  font-size: 0
.butcon
  display:block
.page-tab-container
  margin-bottom: 71px
.investment
  text-indent: 0px
  width: 4rem
  text-align: center
  height: 4rem
  z-index: 99999
  position: absolute
  bottom: 8rem
  right: 1rem
  span
    width: 4rem
    height: 4rem
    display: table-cell
    vertical-align: middle
    border-radius: 50%
    background: #4A78E8
    color: #fff
    font-size: 0.7rem
#uss
  border-radius: 0 4px 4px 0 !important
#ord
  border-radius: 4px 0 0 4px
.ul-container
  background:#ECF0F8
  //padding-left: 3%
  //padding-right: 3%
  padding-top: 0.7rem
  li
    height: 2.5rem
    line-height: 2.5rem
    color: #565D66
    font-size: 14px
    text-indent: 3%
    background:#ffffff
  .code-ht
    color: #454a50
    font-size: 0.97rem
    font-weight: bold
    border2-1px(#E7EDF0)
    .ht-coo
      border-left: 3px solid #4A78E8
      text-indent: 1px
      margin-left: 2%
    .code-status
      float:right
      position: absolute
      right: 0
      margin-right: 2%
      color:#929292
    .code-cc
      color: #FFA200

