.border-1px {
  position: relative;
}

.border-1px:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(7, 17, 27, .1);
  content: ' ';
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {
  .border-1px::after {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
  }
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2) {
  .border-1px ::after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}

#example {
  margin: 20px;
}

h3 {
  font-size: 26px;
  margin-left: 20px;
  height: 60px;
}

.self-checkbox {
  display: none;
}

.self-checkbox + label {
  margin-top: 23px;
  margin-left: 16px;
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid #aaa;
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}

.self-checkbox:checked + label {
  border: 2px #47d9bf solid;
}
 .label:checked {
   border: 1px solid red;
 }

.self-checkbox:checked + label:after {
  display: inline-block;
  text-align: center;
  content: '\221A';
  width: 81%;
  height: 21px;
  position: absolute;
  left: 1px;
  margin-top: -4px;
  color: #4a78e8;
  font-size: 10px;
  background: #4a78e8;
}

.check-area {
  display: inline-block;
  width: 400px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

li {
  /*height: 60px;*/
  background: #fff;
  margin-bottom: 16px;
}

li .self-radio + label {
  vertical-align: middle;
}

li span {
  margin-left: 6px;
  display: inline-block;
  line-height: 60px;
  font-size: 15px;
}

p {
  height: 60px;
  line-height: 60px;
  margin-left: 20px;
}

p span {
  color: #f00;
}

.btn {
  margin: 20px auto;
  width: 100%;
  text-align: center;
}

.btn button {
  width: 120px;
  height: 40px;
  line-height: 30px;
  font-size: 16px;
  color: #fff;
  background: #47d9bf;
  border: 1px #23d5b6 solid;
  border-radius: 6px;
  text-align: center;
  outline: none;
}

.btn button:hover {
  background: #23d5b6;
}
.self-checkbox:checked + label {
  border: 1px solid #4a78e8;
}
.customername {
  border-bottom: 1px solid #ecf0f8;
}
.zjnumber {
  margin-left: 15px;
}
