.mint-actionsheet-listitem
  color: #0080FF
.mint-actionsheet-button
  color: #0080FF
.v-modal
  background: black !important
  opacity: 0.5 !important
.picker
  position: fixed
  z-index: 9
  background: #fff
  width: 100%
  bottom: 0
